* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #151515;
    overflow: hidden;
}

.container{
    height: 95vh;
}

/*-----------------------------------Top Bar----------------------------------------------*/
.top-side-tab{
    width: 15%;
}
.top-side-tab button{
    width: 100%;
    border: none;
    padding: 12px;
    font-size: 1.1rem;
    background: transparent;
}

.top-bar-container{
    display: flex;
    background-color: #f5f5f5;
}
.top-bar{
    display: flex;
    margin: 0px;
    padding: 0px;
    padding-top: 0.3rem;
}

/*----------------X-------------------Top Bar--------------------X------------------------*/


/*------------------------------------Vertical Bar----------------------------------------*/

.vertical-tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 15%;
  height: 90vh;
  overflow-y: scroll;
}


.vertical-tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}


.vertical-tab button:hover {
  background-color: #ddd;
}

.vertical-tab button.active {
  background-color: #ccc;
}

/*----------------X-------------------Vertical Bar--------------------X------------------------*/


/*--------------------------------------Content------------------------------------------------*/

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 85%;
  border-left: none;
  display: none;
  height: 90vh;
  overflow-y: scroll;
}

/*--------------------X----------------Content-------------------------X----------------------*/


/*--------------------------------------Horizontal Bar-----------------------------------------*/

.horizontal-tablink {
    border: none;
    color: white;
    background-color: transparent;
    text-align: start;
    justify-content: space-between;
    display: flex;
    margin: 0;
    padding: 0.8rem;
    font-size: 1rem;
}

.horizontal-tablink:focus{
    outline:none;
}

.horizontal-tablink-container{
    background-color: #b5b5b5;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: auto;
    border-radius: 10px 15px 0px 0px;
    border: 1px solid #eae8e8;
}

.horizontal-tablink-container:hover{
    box-shadow: 0px 1px 4px rgba(0,0,0,.5);
    z-index: 10;
}

.horizontal-tablink-container.active{
    background-color: #fdfdfd;;
    color: #616161;
}
.horizontal-tablink-container.active .horizontal-tablink{
    color: #616161;
}
.close{
    display: none;
    padding-right: 0.2rem;
}
.active .close{
    display: inline-block;
}
.horizontal-tablink-container:hover .close{
    display: inline-block;
}

/*-----------------X-------------------Horizontal Bar-------------------X---------------------*/


/*-----------------------------------------Scroll Bar-----------------------------------------*/

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #808080a8;
    border-radius: 10px;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2196F3;
    border-radius: 10px;
  }

/*-----------------X-----------------------Scroll Bar----------------------X------------------*/
